.next/
out/
node_modules/

.env
.env*.local
.env.production

*.db
*.db-journal

.tools/
.DS_Store

uploads/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

docker-compose.override.ymlnode_modules/
tsconfig.tsbuildinfo
